<div layout="row" layout-align="space-between center" flex class="layout-align-space-between-center layout-row flex">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Organización">
    </mat-form-field>&nbsp;&nbsp;
  
    <button class="btn-secondary" mat-mini-fab matTooltip="Agregar organización">
        <mat-icon routerLink="/add-contact" aria-label="add contact">add</mat-icon>
    </button>
</div>

<div class="basic-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>ID</th>
            <td mat-cell *matCellDef="let contact">{{ contact.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let contact">{{ getFullName(contact) }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let contact">{{ contact.email }}</td>
        </ng-container>

        <!-- Work Type Column -->
        <ng-container matColumnDef="work">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Área</th>
            <td mat-cell *matCellDef="let contact">{{ contact.work }}</td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>estado</th>
            <td mat-cell *matCellDef="let contact">{{ contact.state }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
            <td mat-cell *matCellDef="let contact">{{ getAddress(contact) }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let contact">
                <button mat-icon-button color="accent" matTooltip="editar organización">
                    <mat-icon (click)="editContact(contact.id)" aria-label="edit contact">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" matTooltip="eliminar organización">
                    <mat-icon (click)="deleteContact(contact)" aria-label="delete contact">delete_forever</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
</div>