
<div class="container">
    <div class="row">
      <div class="col">
            <div>
                <h4>Resumen de información ingresada:</h4>
                <h4>Name: </h4>
                    {{ formData.firstName + ' ' + formData.lastName }}
                <h4>Email: </h4>
                    {{formData.email}}
                <h4>Work: </h4>
                    {{formData.work}}
                <h4>Address: </h4>
                    {{formData.street}}
                <br />
                    {{formData.city + ' ' + formData.state + ' ' + formData.zip}}
            </div>    
        </div>
        <div class="col">
                <div id="chart">
                        <apx-chart
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [xaxis]="chartOptions.xaxis"
                            [title]="chartOptions.title"
                        ></apx-chart>
                </div>
        </div>
    </div>
    
</div>   



